<div class="row scoop m-t-2">
    <div class="category__header">
        <div class="pull-xs-left">
            <h5>Special Scoops</h5>
            <p>สกู๊ปพิเศษ</p>
        </div>
        <div class="pull-xs-right">
            <a href="#"><i class="fa fa-3x fa-angle-right " aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="scoop__content">
        <div class="scoop__content--image">
            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
        </div>
        <div class="scoop__content--date">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
        </div>
        <div class="scoop__content--headline">
            <a href="#">HEADLINE</a>
        </div>
    </div>
    <div class="scoop__content">
        <div class="scoop__content--image">
            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
        </div>
        <div class="scoop__content--date">
            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
        </div>
        <div class="scoop__content--headline">
            <a href="#">HEADLINE</a>
        </div>
    </div>
    <div class="row m-y-1">
        <div class="col-xs-12">
            <div>
                <div class="col-xs-6 p-l-0">
                    <div class="scoop__content">
                        <div class="scoop__content--image">
                            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
                        </div>
                        <div class="scoop__content--date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
                        </div>
                        <div class="scoop__content--headline">
                            <a href="#">HEADLINE</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 p-r-0">
                    <div class="scoop__content">
                        <div class="scoop__content--image">
                            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
                        </div>
                        <div class="scoop__content--date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
                        </div>
                        <div class="scoop__content--headline">
                            <a href="#">HEADLINE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-y-1">
        <div class="col-xs-12">
            <div>
                <div class="col-xs-6 p-l-0">
                    <div class="scoop__content">
                        <div class="scoop__content--image">
                            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
                        </div>
                        <div class="scoop__content--date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
                        </div>
                        <div class="scoop__content--headline">
                            <a href="#">HEADLINE</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 p-r-0">
                    <div class="scoop__content">
                        <div class="scoop__content--image">
                            <img src="{{ url('theme://images/scoop-demo-img.jpg') }}" alt="DEMO SCOOP">
                        </div>
                        <div class="scoop__content--date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> 14 มิ.ย. 2559 20:00
                        </div>
                        <div class="scoop__content--headline">
                            <a href="#">HEADLINE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="text-xs-right">
        <a href="#">สกู๊ปทั้งหมด <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>
